.custum_input{
    background: var(--theme);
    width: 100%;
    padding: .5rem;
    border-radius: 7px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    font-size: 20px;
    font-weight: 400;
    min-width: 250px;
    color: white;
    margin-bottom: 1.2rem;
}

.custum_input:focus{
    outline: none;
    border: 2px solid white;
}

.imput_placeholder{
    color: rgba(255, 255, 255, 0.50);
}